<%= link_to product_range_presenter.link, class: 'product-range' do %>
  <div class="product-range-content">
    <div class="product-range-title">
      <%= product_range_presenter.title %>
    </div>

    <%= product_range_presenter.image %>
  </div>
<% end %>
