<div class="industry-banner">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="industry-banner-content">
        <%= industry_banner_presenter.content %>
      </div>

      <div class="text-right">
        <%= industry_banner_presenter.more_linked_text %>
      </div>
    </div>

    <div class="small-12 medium-6 columns">
      <%= industry_banner_presenter.banner_image %>
    </div>
  </div>
</div>
