<div class="team-member-wrap">
  <div class="team-member">
    <div class="team-member-content">
      <%= team_member_presenter.image %>
    </div>
  </div>

  <div class="team-member-name">
    <%= team_member_presenter.name %>
  </div>

  <div class="team-member-job-title">
    <%= team_member_presenter.job_title %>
  </div>
</div>
