<div class="row">
  <div class="small-12 columns content-area">
    <div class="inner">
      <ul class="breadcrumbs">
        <li>
          <%= link_to 'Home', root_url %>
        </li>

        <li>
          <span class="current">Team Members</span>
        </li>
      </ul>
    </div>

    <div class="inner padded text-center">
      <h1 class="page-title-header">
          <%= two_tone_title  @additional_content.title('Team Members') %>
      </h1>

      <div class="inner-content-area">
        <%= @additional_content.content %>
      </div>

      <%= render partial: 'team_members/team_member', collection: @team_members, as: :team_member_presenter %>
    </div>
  </div>
</div>
