<%= content_for :head do %>
  <script>
  function resizeColorbox() {
    parent.$.colorbox.resize({
      innerWidth: $('body').width(),
      innerHeight: $('body').height()
    });
  }

  $(function(){
    resizeColorbox();
  });
  </script>
<% end %>

<div class="general_download-form">
  <div class="contrast-area border-top">
    <h6 class="text-center uppercase">Download File</h6>

    <%= render 'shared/flash_messages', flash: flash %>

    <% if @download.nil? %>
      <%= render 'contacts/general_download_form', form: 'general_download' %>
    <% else %>
      <h2>
        <%= @product.download_verified %>
      </h2>
    <% end %>
  </div>
</div>
