<%= render 'optimadmin/shared/header/main_title', title: 'New Industry Banner' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: industry_banners_path, title: 'Industry Banner' %>

  <%= render 'form', industry_banner: @industry_banner %>
</div>