<% if defined? industry %>
  <div class="industry-banner text-center">
    <%= industry.image('header') %>
    <div class="title">
      <% if industry.colour && industry.colour == 'red' %>
        <div class="cassida-logo">
          <%= image_tag 'components/icons/cassida.png' %>
        </div>
      <% end %>
      <div class="contrast-area">
        <%= industry.name %>
      </div>
    </div>
  </div>
<% end %>
