<% if defined? industry %>
  <div class="industry-banner text-center">
    <%= industry.image('header') %>

    <% if industry.colour && industry.colour == 'red' %>
      <div class="title">
        <div class="cassida-logo">
          <%= image_tag 'components/icons/cassida.png' %>
        </div>

        <div class="contrast-area">
          <%= industry.name %>
        </div>
      </div>
    <% end %>

    <% if industry.colour && industry.colour != 'red' %>
      <div class="contrast-area full-width">
        <%= industry.name %>
      </div>
    <% end %>
  </div>
<% end %>
