<div class="small-12 medium-6 columns">
  <%= link_to industry_presenter.link, class: 'industry-collection-link' do %>
    <div class="industry-collection-header">
      <div class="industry-collection-name">
        <div class="contrast-area border-bottom">
          <%= industry_presenter.name %>
        </div>
      </div>
      <div class="industry-collection-image">
        <%= industry_presenter.image('homepage') %>
      </div>
    </div>

    <div class="industry-collection-product-ranges">
      <% industry_presenter.displayable_product_ranges.in_groups(2, false).each do |group| %>
        <ul>
          <% group.each do |product_range| %>
            <%= render 'product_ranges/text_product_range',
                   product_range_presenter: ProductRangePresenter.new(object: product_range, view_template: self) %>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
