.yellow {
  background: $background-color;

  .industry-banner img {
    border: 1px solid $black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .product-technical-specification-download,
  .years-emphasis {
    color: $black;
  }

  .call .number {
    background: $black;
  }

  .sticky-contact .toggle-class {
    background-image: image-url('layout/header/yellow-contact-arrow.png');
  }

  .frequently-asked-question .question a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $black;
    }
  }

  .color {
    color: $primary-yellow;
  }

  footer input[type='text'],
  footer textarea {
    border: 1px solid $primary-yellow;
  }

  .header-color {
    color: $main-default-header-color;
  }

  .primary.navigation {
    background-color: $main-navigation-background;
  }

  /*
  .header-navigation {
    background-image: image-url('components/navigation/yellow-left-angle.png'), image-url('components/navigation/yellow-right-angle.png');
  }
  */

  header .border-wrap {
    border-bottom-color: $main-navigation-background;
  }

  .primary.navigation li {
    background: transparent image-url('components/navigation/yellow-border.png') center right no-repeat;

    &:last-of-type,
    .dropdown li {
      background: none;
    }


    @include responsive-to(small) {
      &:last-of-type {
        background: transparent image-url('components/navigation/yellow-border.png') center right no-repeat;
      }
    }

    .level-1:hover,
    .level-1.active,
    ul {
      background: $main-navigation-hover;
    }
  }

  .primary.navigation .dropdown li:hover {
    background: transparent image-url('components/navigation/yellow-marker.png') center left no-repeat;

    a {
      border-color: $primary-yellow;
    }
  }

  .contrast-area {
    background: $main-background;

    &.border-top {
      border-top-color: $primary-yellow;
    }

    &.border-bottom {
      border-bottom-color: $primary-yellow;
    }
  }

  .industry-banner-more-linked-text {
    color: $main-additional-color;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $main-additional-color;
    }
  }

  .industry-banner-content {
    background-image: image-url('components/industry-banners/yellow-marker.png');
  }

  .industry-banner-controls {
    border-bottom-color: $black;
  }

  .industry-banner-control-link {
    &.link-1 {
      background-color: $main-grey;
      border-top-color: $primary-yellow;
    }

    &.link-2 {
      background-color: $main-additional-color;
      border-top-color: $primary-yellow;
    }

    &.link-3 {
      background-color: $black;
      border-top-color: $primary-yellow;
    }
  }

  .page-title-header {
    border-color: $primary-yellow;
    color: $black;
  }

  .product-range,
  .team-member {
    border-top-color: $primary-yellow;
    border-bottom-color: $primary-yellow;
  }

  .frequently-asked-question {
    border-bottom-color: $primary-yellow;
  }

  .product-range-title {
    background: $black;
  }

  .product {
    .product-title {
      background: $black;
    }

    hr {
      border-top-color: $primary-yellow;
    }
  }

  .product-show-title,
  .team-members-job-title {
    border-bottom-color: $primary-yellow;
  }

  .product-technical-specification-download-container {
    border-bottom-color: $main-grey;
  }
}

.blue {
  background: darken($background-color, 15%);

  .industry-banner img {
    border: 1px solid $secondary-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .product-technical-specification-download {
    color: $secondary-default-text-color;
  }

  .call .number {
    background: $secondary-default-text-color;
    color: $white;
  }


  header .border-wrap {
    border-bottom-color: $secondary-navigation-hover;
  }

  .sticky-contact .toggle-class {
    background-image: image-url('layout/header/blue-contact-arrow.png');
  }

  .frequently-asked-question .question a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $secondary-default-text-color;
    }
  }

  .color,
  .years-emphasis {
    color: $secondary-default-header-color;
  }

  footer input[type='text'],
  footer textarea {
    border: 1px solid $primary-blue;
  }

  .header-color {
    color: $secondary-default-header-color;
  }

  .primary.navigation {
    background-color: $secondary-navigation-hover;
  }

  /*
  .header-navigation {
    background-image: image-url('components/navigation/blue-left-angle.png'), image-url('components/navigation/blue-right-angle.png');
  }
  */

  .primary.navigation li {
    background: transparent image-url('components/navigation/blue-border.png') center right no-repeat;

    &:last-of-type,
    .dropdown li {
      background: none;
    }


    @include responsive-to(small) {
      &:last-of-type {
        background: transparent image-url('components/navigation/blue-border.png') center right no-repeat;
      }
    }

    .level-1:hover,
    .level-1.active,
    ul {
      background: $secondary-navigation-background;
    }
  }

  .primary.navigation .dropdown li:hover {
    background: transparent image-url('components/navigation/blue-marker.png') center left no-repeat;

    a {
      border-color: $primary-blue;
    }
  }

  .contrast-area {
    background: $secondary-background;

    &.border-top {
      border-top-color: $primary-blue
    }

    &.border-bottom {
      border-bottom-color: $primary-blue
    }
  }

  .industry-banner-more-linked-text {
    color: $secondary-additional-color;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $secondary-additional-color;
    }
  }

  .industry-banner-content {
    background-image: image-url('components/industry-banners/blue-marker.png');
  }

  .industry-banner-controls {
    border-bottom-color: $secondary-default-header-color;
  }

  .industry-banner-control-link {
    &.link-1 {
      background-color: $primary-blue;
      border-top-color: $black;
    }

    &.link-2 {
      background-color: $secondary-default-header-color;
      border-top-color: $black;
    }

    &.link-3 {
      background-color: $secondary-background;
      border-top-color: $black;
    }
  }

  .page-title-header {
    border-color: $secondary-default-header-color;
    color: $secondary-background;

    span {
      color: $secondary-additional-color;
    }
  }

  .product-range,
  .team-member {
    border-top-color: $secondary-background;
    border-bottom-color: $secondary-background;
  }

  .frequently-asked-question {
    border-bottom-color: $secondary-background;
  }

  .product-range-title {
    background: $secondary-background;
  }

  .product {
    .product-title {
      background: $secondary-background;
    }

    hr {
      border-bottom-color: $secondary-additional-color;
    }
  }

  .product-show-title {
    border-bottom-color: $secondary-border-color;
  }

  .product-technical-specification-download-container {
    border-bottom-color: $secondary-border-color;
  }
}

.blue,
.yellow,
.red {
  .contrast-area {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $white;
    }
  }
}

.red {
  background: darken($background-color, 25%);

  .industry-banner img {
    border: 1px solid $primary-red;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .product-technical-specification-download,
  .years-emphasis {
    color: $primary-red;
  }

  .call .number {
    background: $primary-red;
    color: $white;
  }

  header .border-wrap {
    border-bottom-color: $primary-red;
  }

  p {
    color: $black;
  }

  .sticky-contact .toggle-class {
    background-image: image-url('layout/header/red-contact-arrow.png');
  }

  .frequently-asked-question .question a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $primary-red;
    }
  }

  .color {
    color: $primary-red;
  }

  footer input[type='text'],
  footer textarea {
    border: 1px solid $cassida-blue;
  }

  .header-color {
    color: $primary-red;
  }

  .primary.navigation {
    background-color: $primary-red;
  }

  /*
  .header-navigation {
    background-image: image-url('components/navigation/red-left-angle.png'), image-url('components/navigation/red-right-angle.png');
  }
  */

  .primary.navigation li {
    background: transparent image-url('components/navigation/red-border.png') center right no-repeat;

    &:last-of-type,
    .dropdown li {
      background: none;
    }


    @include responsive-to(small) {
      &:last-of-type {
        background: transparent image-url('components/navigation/red-border.png') center right no-repeat;
      }
    }

    .level-1:hover,
    .level-1.active,
    ul {
      background: $cassida-blue;
    }
  }

  .primary.navigation .dropdown li:hover {
    background: transparent image-url('components/navigation/red-marker.png') center left no-repeat;

    a {
      border-color: $cassida-blue;
    }
  }

  .contrast-area {
    background: $primary-red;

    &.border-top {
      border-top-color: $cassida-blue;
    }

    &.border-bottom {
      border-bottom-color: $cassida-blue;
    }
  }

  .industry-banner-more-linked-text {
    color: $main-additional-color;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $main-additional-color;
    }
  }

  .industry-banner-content {
    background-image: image-url('components/industry-banners/red-marker.png');
  }

  .industry-banner-controls {
    border-bottom-color: $black;
  }

  .industry-banner-control-link {
    &.link-1 {
      background-color: $cassida-blue;
      border-top-color: $primary-red;
    }

    &.link-2 {
      background-color: darken($cassida-blue, 10%);
      border-top-color: $primary-red;
    }

    &.link-3 {
      background-color: darken($cassida-blue, 20%);
      border-top-color: $primary-red;
    }
  }

  .page-title-header {
    border-color: $cassida-blue;
    color: $primary-red;

    span {
      color: $cassida-blue;
    }
  }

  .product-range,
  .team-member,
  .frequently-asked-question {
    border-top-color: $cassida-blue;
    border-bottom-color: $cassida-blue;
  }

  .product-range-title {
    background: $primary-red;
  }

  .product {
    .product-title {
      background: $primary-red;
    }

    hr {
      border-top-color: $cassida-blue;
    }
  }

  .product-show-title,
  .team-members-job-title {
    border-bottom-color: $cassida-blue;
  }

  .product-technical-specification-download-container {
    border-bottom-color: $main-grey;
  }
}
