html,
body {
  font-size: 14px;
}

body {
  background: $background-color;
  color: $main-default-text-color;
  font-family: $primary-font;
}

a {
  color: $link-blue;
  font-weight: $primary-font-semibold;
  text-decoration: none;

  &:link {
    color: $link-blue;
  }

  &:visited {
    color: $link-blue;
  }

  &:hover {
    color: $link-blue;
    text-decoration: underline;
  }

  &:active {
    color: darken($link-blue, 15%);
  }
}

.display-block {
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

.inner-content-area {
  p {
    font-size: em(12px);
    line-height: 1.8;
    margin: em(16px, 12px) 0;
  }
}
