header {

  .border-wrap {
    @extend %clearfix;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: em(20px);
  }
}

.header-introduction {
  @extend %clearfix;


  @include responsive-to(small) {
    padding: 0 em(15px, 13px);
  }
}


.tagline {
  float: left;
  font-size: em(13px);
  font-style: italic;
  font-weight: $primary-font-semibold;
  letter-spacing: 1px;
  margin-top: em(23px, 13px);

  @include responsive-to(small) {
    margin: 0;
    text-align: center;
  }

  span {
    font-weight: $primary-font-extrabold;
  }
}

.call {
  background: $primary-yellow;
  float: right;
  font-weight: $primary-font-semibold;
  line-height: 1.1;
  padding: em(9px) em(18px) em(11px);
  margin-right: em(8px);
  text-align: right;
  text-transform: uppercase;

  @include responsive-to(small) {
    float: left;
    margin: em(5px) 0;
    text-align: center;
    width: 100%;
  }

  strong {
    font-weight: $primary-font-extrabold;
  }
}

.logo-link {
  display: inline-block;
  padding: em(10px) em(10px) 0;

  @include responsive-to(small) {
    padding: 0;
    width: 30%;
  }
}
