header {

  .border-wrap {
    @extend %clearfix;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    margin-bottom: em(20px);
  }
}

.header-introduction {
  @extend %clearfix;


  @include responsive-to(small) {
    padding: 0 em(15px, 13px);
  }
}


.tagline {
  float: left;
  font-size: em(13px);
  font-style: italic;
  font-weight: $primary-font-semibold;
  letter-spacing: 1px;
  margin-top: em(23px, 13px);

  @include responsive-to(small) {
    margin: 0;
    text-align: center;
  }

  span {
    font-weight: $primary-font-extrabold;
  }
}

.call {
  @extend %clearfix;
  float: right;
  font-weight: $primary-font-semibold;
  line-height: 1.1;
  padding: 0 em(52px) 0 0;
  text-align: center;
  text-transform: uppercase;
  min-width: 310px;
  margin: em(8px) 0 0;

  @media screen and (min-width: 480px) {
    background: image-url('layout/header/telephone-icon.png') no-repeat right center;
  }

  .text {
    float: left;
    width: 50%;
  }

  .number {
    @include border-radius(7px);
    font-size: em(15px);
    font-weight: $primary-font-bold;
    float: right;
    line-height: 1.4;
    letter-spacing:  1px;
    padding: em(5px);
    width: 50%;
  }

  @include responsive-to(small) {
    float: left;
    margin: em(5px) 0;
    text-align: center;
    width: 100%;
  }

  strong {
    font-weight: $primary-font-extrabold;
  }
}

.logo-link {
  display: inline-block;
  padding: em(10px) em(10px) 0;

  @include responsive-to(small) {
    padding: 0;
    width: 30%;
  }
}
