<div class="row">
  <div class="small-12 columns content-area">
    <div class="inner">
      <ul class="breadcrumbs">
        <li>
          <%= link_to 'Home', root_url %>
        </li>
      </ul>
    </div>

    <div class="inner padded">
      <div class="text-center">
        <h1 class="page-title-header">
          <%= two_tone_title "Page not found" %>
        </h1>
      </div>

      <div class="inner-content-area text-center">
        <p>The page you're looking for can not be found.</p>

        <p>If you think this is an error, please contact us by using the form below.</p>
      </div>
    </div>
  </div>
</div>
