<%= render 'optimadmin/shared/header/main_title', title: 'New General Download' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: general_downloads_path, title: 'General Download' %>

  <%= render 'form' %>
</div>