<%= link_to general_download_form_contacts_path(general_download_id: general_download_presenter.id), class: 'colorbox-iframe product' do %>
  <div class="product-content">
    <hr />
    <%= general_download_presenter.image %>

    <div class="product-title">
      <%= general_download_presenter.title %>
    </div>
    <hr />
  </div>
<% end %>
