<div class="frequently-asked-question">
  <div class="question">
    <%= frequently_asked_question_presenter.linked_question %>
  </div>

  <div class="answer hide" id="frequently-asked-question-<%= frequently_asked_question_presenter.id %>">
    <div class="inner-content-area">
      <%= frequently_asked_question_presenter.answer %>
    </div>
  </div>
</div>
