.breadcrumbs {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;

    &:after {
      content: '>';
    }

    &:last-of-type:after {
      content: '';
    }
  }

  a,
  .current {
    font-size: em(11px);
  }
}
