.content-area {
  background: $content-background-color;

  .inner {
    margin: 0 em(65px);

    @include responsive-to(medium-down) {
      margin: 0;
    }

    &.padded {
      padding: em(40px) 0;

      @include responsive-to(medium-down) {
        padding: em(10px) 0;
      }
    }
  }

  &.separated {
    margin: 0 auto em(20px);
  }
}

.inner-content-area h2 {
  clear: both;
}

.page-title-header {
  display: inline-block;
  font-size: em(16px);
  text-transform: uppercase;
  font-weight: $primary-font-semibold;
  margin: 0 0 em(30px, 16px);

  span {
    font-weight: $primary-font-extrabold;
  }

  @include responsive-to(small) {
    margin: 0 0 em(15px, 13px);
  }
}
