.industry-collection-link {
  border: 5px solid $white;
  display: block;
  margin: 0 0 em(30px);

  &:hover {
    border: 5px solid $primary-yellow;
  }
}

.industry-collection-header {
  position: relative;
  text-align: center;
}

.industry-collection-name {
  left: 50%;
  margin: 0 0 0 -40%;
  position: absolute;
  top: 50%;
  width: 80%;

  .contrast-area {
    border-bottom-width: 5px;
    display: inline-block;
    font-size: em(13px);
    font-weight: $primary-font-semibold;
    letter-spacing: 2px;
    padding: em(3px, 13px) em(24px, 13px);
    text-transform: uppercase;
  }
}

.industry-collection-product-ranges {
  @extend %clearfix;
  background: $black;
  padding: em(30px) em(65px);

  @include responsive-to(medium-down) {
    padding: em(15px);
  }

  ul {
    float: left;
    list-style: none;
    margin-right: 5%;
    width: 45%;
  }

  li {
    border-bottom: 1px solid $white;
    color: $white;
    font-size: em(11px);
    padding: em(23px, 11px) 0 em(9px, 11px);
    width: 100%;

    @include responsive-to(medium-down) {
      padding: em(13px, 11px) 0 em(9px, 11px);
    }
  }
}

.industry-banner {
  margin-bottom: em(20px);
  position: relative;

  img {
    position: relative;
    top: 0;
  }

  .title {
    left: 61px;
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: 1;
    text-align: left;
  }

  .contrast-area {
    display: inline-block;
    font-size: em(20px);
    font-weight: $primary-font-semibold;
    letter-spacing: 2px;
    padding: em(10px, 20px) em(35px, 20px);
    text-transform: uppercase;
  }
}
