.industry-collection-link {
  border: 5px solid $white;
  display: block;
  margin: 0 0 em(30px);
  position: relative;
  height: 266px;

  &:hover {
    border: 5px solid $primary-yellow;
  }
}

.industry-name {
  color: $white;
  font-size: em(18px);
  font-weight: $primary-font-normal;
  padding: 0 0 em(5px, 18px);
  margin: 0 0 em(30px, 18px);
  border-bottom: 3px solid $white;

  span {
    font-weight: $primary-font-extrabold;
  }
}

.industry-collection-content {
  color: $white;
  padding: em(35px) em(65px) em(15px) em(15px);
  width: 75%;
  height: 100%;

  li {
    font-size: em(12px);
    font-weight: $primary-font-semibold;
    margin: em(4px, 12px) 0;
  }

  &.red {
    background: image-url('layout/home/red-bg.png') no-repeat top left;

    span {
      color: $cassida-blue;
    }
  }

  &.blue {
    background: image-url('layout/home/blue-bg.png') no-repeat top left;
  }

  &.white {
    background: image-url('layout/home/white-bg.png') no-repeat top left;
  }

  &.gold {
    background: image-url('layout/home/gold-bg.png') no-repeat top left;
  }
}


.industry-banner {
  margin-bottom: em(20px);
  position: relative;
  min-height: 80px;

  img {
    position: relative;
    top: 0;
  }

  .title {
    @media screen and (min-width: 768px) {
      left: 61px;
      position: absolute;
      bottom: 15px;
      width: 100%;
      z-index: 1;
    }
      text-align: left;
  }

  .contrast-area {
    display: inline-block;
    font-size: em(20px);
    font-weight: $primary-font-semibold;
    letter-spacing: 2px;
    padding: em(10px, 20px) em(35px, 20px);
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      padding: em(5px, 20px);
    }
  }
}

.cassida-logo {
  margin-bottom: em(10px);

  @media screen and (max-width: 768px) {
    width: 25%;
    margin-bottom: em(2px);
  }
}
