.product {
  display: block;
  float: left;
  margin: em(15px) em(5px) 0;
  text-decoration: none;
  color: $content-background-color;
  max-width: 188px;

  &:link,
  &:visited,
  &:hover,
  &:active {
    border: 5px solid $content-background-color;
    color: $content-background-color;
    text-decoration: none;
  }

  &:hover {
    border: 5px solid $primary-yellow;
  }

  img {
    border-bottom: 5px solid $white;
  }

  hr {
    margin: em(1px) 0 0 0;
    padding: 0;
    border-top-width: 3px;
    border-top-style: solid;
  }
}

.product-content {
  border: 6px solid $white;
  position: relative;
}

.product-title {
  border-top: 6px solid $white;
  color: $white;
  font-weight: $primary-font-bold;
  letter-spacing: 2px;
  font-size: em(11px);
  padding: em(10px, 11px);
  width: 100%;
  text-transform: uppercase;
}

.product-summary {
  background: $content-background-color;
  padding: em(14px, 11px) em(6px, 11px) em(6px, 11px);

  p {
    color: $black;
    margin: 0;
    padding: 0;
    font-size: em(11px);
    line-height: 1.1;
  }
}

.product-image-area {
  .product-range {
    margin: 0;
  }
}

.product-colorbox-image-prompt {
  display: block;
  font-size: em(11px);
  font-weight: $primary-font-bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: em(12px) 0;
}

.product-show-title {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: em(19px);
  font-weight: $primary-font-extrabold;
  margin: 0 0 em(20px, 19px);
  padding: 0 0 em(12px, 19px);
  text-transform: uppercase;
}

.product-technical-specification-download {
  font-weight: $primary-font-extrabold;
  text-decoration: underline;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}

.product-technical-specification-download-container {
  margin: em(5px) 0;
  padding: em(5px) 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.product-video {
  margin: em(20px) 0 em(10px);
}

.product-video-title {
  font-size: em(16px);
  font-weight: $primary-font-bold;
  margin: 0 0 em(10px, 16px);
}
