.product-range {
  display: inline-block;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  margin: em(15px) em(5px);
}

.product-range-content {
  border: 6px solid $white;
  position: relative;
}

.product-range-title {
  color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: $primary-font-bold;
  letter-spacing: 2px;
  font-size: em(11px);
  padding: em(10px, 11px);
  margin-left: -40%;
  width: 80%;
  text-transform: uppercase;
}

.clearfix {
  @extend %clearfix;
}
