.product-range {
  display: block;
  float: left;
  border-top-width: 3px;
  border-top-style: solid;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  margin: em(15px) em(5px);
  max-width: 188px;

  &:hover {
    text-decoration: none;
    opacity: 0.9;
  }
}

.product-range-content {
  border: 6px solid $white;
  position: relative;
}

.product-range-title {
  color: $white;
  /*
  position: absolute;
  top: 50%;
  left: 50%;
  */
  font-weight: $primary-font-bold;
  letter-spacing: 2px;
  font-size: em(11px);
  padding: em(10px, 11px);
/*
  margin-left: -40%;
  */
  width: 100%;
  text-transform: uppercase;
}

.clearfix {
  @extend %clearfix;
}
