<div class="product-technical-specification-download-container">
  <div class="row">
    <div class="small-12 medium-8 columns">
      <%= product_presenter.title %>
    </div>

    <div class="small-12 medium-4 columns text-right">
      <%= product_presenter.download_technical_specification('Download File') %>
    </div>
  </div>
</div>
