<%= render 'optimadmin/shared/header/main_title', title: 'Edit Product Range' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: product_ranges_path, title: 'Product Range' %>

  <%= render 'form', product_range: @product_range %>
</div>