<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared/head' %>
  </head>

  <body class='<%= @industry.present? ? @industry.colour : Industry::DEFAULT_COLOUR %>'>
    <%= yield %>
  </body>
</html>
